.CourierNew {
  font-size: 12px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  font-family: "Courier New", Courier, monospace;
  color: #000000;
}

.imprimir {
  color: #fff;
  background-color: #000000;
  border-color: #46b8da;
  font-size: 9px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  padding-left: 4px;
}

.imprimir2 {
  color: #fff;
  background-color: #999999;
  font-size: 8px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  padding-left: 4px;
  border: 1px solid #606060;
}

.tablaborder {
  width: 100%;
}


.bordesdiv {
  background-color: #fff;
  border: 1px solid #000000;

}
 legend{
  font-size: calc(1.2rem);
 }


/* girar el text a 90° */

.rotate90g {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
  padding: 0px;

}

/* aginador */

.pagination-container {
  display: flex;
  list-style-type: none;
}
.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 15px;
  min-width: 32px;
  color: white;
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination-container .pagination-item .arrow::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 0.15em solid rgb(255 255 255 / 87%);
  border-top: 0.15em solid rgb(255 255 255 / 87%);
}
.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}
